.zoomAnimation {
    animation-duration: 0.3s;
      animation-name: zoom;
  }
  
  @keyframes zoom {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.07);
    }
  }