.sidebar__icon--animation-hover:hover{
    animation:zoom-side-bar 0.3s ease-in-out forwards
  }
  @keyframes zoom-side-bar {
    to {
       transform: scale(1.1);
     }
   }

  .sidebar__move--left{
  animation: move-side-bar-left 0.3s ease-in-out forwards
 }
 @keyframes move-side-bar-left {
  0% {
    transform: translateX(0);
    
  }
  
  100% {
    transform: translateX(-6.5rem);
    }
  }
  

.sidebar__move--right{
  transform: translateX(-6rem);
  animation: move-side-bar-right 0.3s ease-in-out  forwards;
 
  }

@keyframes move-side-bar-right {
  0% {
  
    transform: translateX(-6rem);
  }
  80%{
    transform: translateX(0.5rem);
  }
  
  100% {
   
    transform: translateX(0);
    
  }
 
}

.sidebar__icon--border-bottom{
  border-bottom: 1px solid;
  border-color: gray;
}


  
  

  